.app__mail{
    height: 100%;
}

.app__mail > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.app__mail__main {
    flex: 1;
    background-color: var(--color-primary-dark);
}

.app__mail__main > div {
    /* border: 1px solid purple; */
    width: 100%;
    height: 100%;
    /* border: 5px solid green; */
    display: flex;
}

