.email-preview{
    height: 58px;
    font-size: var(--fs-normal);
    --font-color: #474544;
    box-sizing: content-box;
    padding: 8px 16px;
    margin: 0 8px;
    overflow-x: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.email-preview:hover{
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.065);
}

.email-preview:first-child{
    margin-top: 8px;
}

.email-preview:not(:first-child){
    margin-top: 5px;
}

.email-preview_current{
    background-color: var(--color-primary) !important;
    color: var(--fc-light) !important;
}

.email-preview_read{
    background-color: #f8f8f6;
}

.email-preview_unread{
    font-weight: var(--fw-big);
}

.email-preview > div {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.email-preview__bullet{
    position: absolute;
    width: 12px;
    height: 12px;
    fill: var(--color-primary);
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
}

.email-preview__content {
    margin-left: 8px;
    width: 100%;
}

.email-preview__content > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.email-preview__content__sender{
    font-size: 14px;
    padding-bottom: 12px;
    margin-bottom: 4px;
}

.email-preview__content__subject{
    position: absolute;
    width: 100%;
    top: 20px;
    font-size: 14px;
}

.email-preview__content__subject > div {
    display: flex;
}

.email-preview__content__subject__text{
    overflow-x: hidden;
}

.email-preview__content__subject__text > div {
    width: 400px;
}

.email-preview__time{
    font-size: 10px;
}