.utility-btn{
    width: 25px;
    box-sizing: content-box;
    padding: 5px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 8px;
    cursor: pointer;
}

.utility-btn_size-mid{
    height: 25px;
}

.utility-btn_size-small{
    font-size: var(--fs-small);
    width: fit-content;
    height: 15px;
}

.utility-btn:hover{
    background-color: rgba(0, 0, 0, 0.048);
}

.utility-btn > div {
    display: flex;
    align-items: center;
}

.utility-btn__icon{
    box-sizing: border-box;
    padding: 4px;
    padding-top: 6px;
    display: flex;
    align-items: center;
}

.utility-btn__icon_centered{
    padding-top: 4px;
}

.utility-btn__icon > svg {
    height: 98%;
    width: 98%;
} 

.utility-btn_size-small > div > div > svg {
    height: 16px;
}

.utility-btn_color-light{
    fill: var(--fc-light);
}

.utility-btn_color-mid{
    fill: rgb(51, 51, 51);
}