.filter-toolbar{
    height: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 var(--space-small);
}

.filter-toolbar > div {
    width: 100%;
    display: flex;
}

#filter-toolbar__sort-btn{
    margin-left: auto;
}