.mail-list {
    flex: 4;
}

.mail-list > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mail-list__emails{
    flex: 1;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.mail-list__emails > div {
    position: absolute;
    left: 0;
    height: auto;
    width: 100%;
    overflow-y: auto;
}