.mail-content{
    flex: 6;
    height: 100%;
    overflow-y: auto;
    border-left: var(--border-light);
}

.mail-content > div {
    height: 100%;
    width: 100%;
    display: block;
}

.mail-content__welcome{
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-content__welcome > div {
    position: absolute;
}

.mail-content__welcome__text{
    display: flex;
    flex-direction: column;
}

.mail-content__welcome__text > .name{
    font-size: 36px;
}

.mail-content__welcome__text > .unread {
    font-size: var(--fs-normal);
    margin-top: var(--space-big);
    padding-bottom: var(--space-extreme);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.mail-content__welcome__icon{
    margin-top: var(--space-extreme);
}